# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment files
.env
.env.*

# Python virtual environments
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Build artifacts
dist/
build/

# Node modules
node_modules/

# SQLite DB
db.sqlite3

# Coverage
coverage/
htmlcov/frontend/.env.local
